<!-- src/app/contact-us/contact-us.component.html -->
<div class="contact-container">
    <h1>Contact Us</h1>
    <p>Have a question or need assistance? Reach out to us!</p>
    <div class="contact-details">
        <p>Email: <a href="mailto:info&#64;mohanmakieethiru2001@gmail.com">info&#64;mohanmakieethiru2001.com</a></p>
        <p>Phone: +91 9600504953</p>
        <p>Address: 123 Tiny Street, Mealville, CA 56789, USA</p>
    </div>
        <form>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="5" required></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
