<!-- src/app/app.component.html -->
<div class="sidebar">
  <h2>TMM</h2>
  <a routerLink="/">
    <fa-icon [icon]="faHome"></fa-icon> Home
  </a>
  <a routerLink="/package">
    <fa-icon [icon]="faBox"></fa-icon> Package
  </a>
  <a routerLink="/order-history">
    <fa-icon [icon]="faHistory"></fa-icon> Order History
  </a>
</div>
<div class="main-content">
  <div class="header">
    <button (click)="onLogin()">Login</button>
  </div>
  <router-outlet></router-outlet>
  <footer class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h2>Tiny Meal Makers!</h2>
        <p>
          Welcome to TinyMealMakers.com, where culinary creativity meets convenience. At Tiny Meal Makers, we believe in transforming everyday cooking into an effortless and delightful experience.
        </p>
      </div>
      <div class="footer-section links">
        <h2>About Us</h2>
        <ul>
          <li><a routerLink="/about-us">About Us</a></li>
          <li><a routerLink="/contact-us">Contact Us</a></li>
          <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
          <li><a routerLink="/refund-policy">Refund Policy</a></li>
          <li><a routerLink="/terms-and-conditions">Terms and Conditions</a></li>
        </ul>
      </div>
      <div class="footer-section social">
        <h2>Follow Us</h2>
        <div class="social-links">
          <a href="https://wa.me/9600504953" target="_blank">
            <img src="/assets/whatsapp-icon.png" alt="WhatsApp">
          </a>
          <a href="https://www.facebook.com/mohan.therivijay?mibextid=ZbWKwL" target="_blank">
            <img src="/assets/facebook-icon.png" alt="Facebook">
          </a>
          <a href="https://www.instagram.com/mohan_makiee?igsh=MTFtaWRkdGJtNzlscw==" target="_blank">
            <img src="/assets/instagram-icon.png" alt="Instagram">
          </a>
          <a href="https://x.com/makiee_t/status/1671562817458274305?t=KCrktoRqtV6CBrR5LMMl6Q&s=19" target="_blank">
            <img src="/assets/twitter-icon.png" alt="Twitter">
          </a>
        </div>
      </div>
    </div>
  </footer>
</div>
