.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/assets/burger-background.jpg');
    background-size: cover;
  }
  
  .signup-box {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-button {
    width: 100%;
    padding: 10px;
    background-color: #FFB81C;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .signup-button:hover {
    background-color: #e0a800;
  }
  
  .links {
    margin-top: 20px;
  }
  
  .links a {
    color: #FFB81C;
    text-decoration: none;
  }
  