body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: #007BFF;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  button {
    background-color: white;
    
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #fff156;
  }
  
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  .sidebar {
    width: 250px;
    background: #FFB81C;
    color: white;
    position: fixed;
    height: 100%;
    padding-top: 20px;
  }
  
  .sidebar a {
    display: block;
    padding: 10px;
    color: white;
  }
  
  .sidebar a:hover {
    background: #FF9800;
  }
  
  .main-content {
    margin-left: 260px;
    padding: 20px;
  }
  
  .header {
    background: #FFB81C;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .card {
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
  }
  
  .card h2 {
    margin: 10px 0;
  }
  
  .card p {
    margin: 5px 0;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1;
    margin-left: 260px;
    padding: 20px;
  }
  
  .footer {
    background-color: #FFB81C;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    padding: 20px;
  }
  
  .footer-section h2 {
    margin-top: 0;
  }
  
  .footer-section p, .footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer-section a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
    display: block;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .social-links a {
    display: inline-block;
    margin: 0 10px;
  }
  
  .social-links img {
    width: 30px;
    height: 30px;
  }
  